[submodule "n2n_meyerd"]
	path = bundles/n2n_meyerd
	url = https://github.com/switch-iot/n2n_meyerd.git
[submodule "n2n_ntop_v2"]
	path = bundles/n2n_ntop_v2
	url = https://github.com/switch-iot/n2n_ntop.git
	branch = 2.8-stable
[submodule "n2n_ntop_v3"]
	path = bundles/n2n_ntop_v3
	url = https://github.com/switch-iot/n2n_ntop.git
