[submodule "n2n_meyerd"]
	path = bundles/n2n_meyerd
	url = https://github.com/switch-iot/n2n.git
[submodule "n2n_ntop_dev"]
	path = bundles/n2n_ntop_dev
  url = https://github.com/switch-iot/n2n_ntop.git
  branch = ntop-dev
